body
{
	font-family: sans-serif;
	margin-right: 100px;
	

	
	font-size: 95%;
	background: #bbb;
	color: #525252;
	overflow: hidden;

}

body > div
{

	position: relative;

	width: 715px;
	margin: 20px auto;

}

h1
{
	float: left;
	height: 45px;
	left: -30px;
	position: relative;
	top: -5px;
	width: 715px;
	z-index: 99;
	padding: 5px 0px 0px 30px;
}

/******************
 * NAV
 *******************/
#nav
{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	position: absolute;
	top: 120px;
	right: -110px;
	z-index: 1;

}

#nav li
{
	float: right;
	clear: both;
	cursor: pointer;
	display: block;
	width: 99px;
 	-moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
	transform:rotate(-30deg); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand',154.M11=0.5, M12=0.4, M21=-0.6, M22=1)";

	height: 28px;
	margin-bottom: 30px;
	padding: 8px 0px 0px 55px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
	
	color: #555;
	font-weight: bold;

}

#nav li:hover, #nav li.act
{
	position: relative;
	left: 20px;
	top: -12px;
}

#nav li.act
{
	cursor: default;
}

#nav li, .Overview h1
{
	background: #84b7df;
}

#nav li:nth-child(2), .Categories h1
{
	background: #84ea90;
}

#nav li:nth-child(3), .Bills h1
{
	background: #fec28f;
}

#nav li:nth-child(4), .Reports h1
{
	background: #fef78f;
}

#nav li:nth-child(5), .Options h1
{
	background: #b786e1;
}

.page
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: white;

	border-radius: 9px;
	height: 710px;
	width: 685px;
	
	padding: 15px;


}

.l td
{
	padding: 0px 5px;
}

.o
{
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:0.6;
	display: none;
	z-index: 4;
}

.h
{
	top: 99px;
	left: 157px;
	width: 400px;
	height: 200px;
	background: white;
	position: absolute;
	z-index: 5;
	padding: 20px;
	
	border-radius: 9px;
	overflow: auto;
}

.h h2
{
	margin: 0px;
}

.s
{
	-webkit-box-shadow: 0px 2px 9px #333;
	box-shadow: 0px 2px 9px #333;
	-moz-box-shadow: 0px 2px 9px #333;
}

/******************
 * LAYOUT
 *******************/

table
{
	clear: both;
}




/******************
 * Typography
 *******************/


/******************
 * Forms
 *******************/

form
{
	border: 1px solid black;
	overflow: hidden;
	padding: 9px;
}

input, select
{
	float: left;
}

label
{
	float: left;
	width: 150px;
	clear: left;
	text-algin: right;
	text-transform: capitalize;
}

input, select
{
	width: 200px;
	float: left;
}

.btn, .Options input
{
	background: #222;

    display: inline-block;

    padding: 5px 9px 6px;

    color: #fff;

    text-decoration: none;

    -moz-border-radius: 6px;

    -webkit-border-radius: 6px;
	border-radius: 6px;

    border-bottom: 1px solid rgba(0,0,0,0.25);

    position: relative;
    cursor: pointer;
	float: left;
	 clear: both;
	margin: 15px;
}

form .btn
{
	float: right;
}

.b
{
	font-size: 1.5em;
	cursor: pointer;
	text-align: center;
	width: 20px;
}

.add 
{
	float: right;
}


.btn:hover							{ background-color: #111; color: #fff; }

/******************
 * Tables
 *******************/

table
{
	width: 100%;
}

th
{
	text-transform: capitalize;
}

/******************
 * Calendar
 *******************/

.cal
{
	background-color: #FFF;
	position: relative;
	width: 100%;
}


.cal .today
{
	background: #CCC;
	font-weight: bold;
}

.cal td
{
	padding: 2px;
	width: 12%;
	text-align: center;
}


.cal a
{
	cursor: pointer;
	display: block;
	width: 96%;
	height: 60%;
	padding: 20% 2%;
}

.cal a:hover
{
	background: #95D5ED;
}

.cal span
{
	float: right;
	position: relative;
	right: 0px;
	font-size: 1.6em;
	cursor: pointer;
	width: 26px;
	z-index: 2
	top: -28px;
	margin-bottom: -20px;
	
}

.z span
{
	top: -13px;
}

.z caption
{
	top: 2px;
	position: absolute;
	left: 60px;
}

.cal span:hover
{
	color: #3B7A92;
}

.cal span:first-child
{
	float: left;
	left: 0px;
}

.z
{
	width: 200px;
	position: absolute;
	z-index: 9;
	border: 1px solid black;
	padding: 5px;
}

#l
{

	height: 30px;
	width: 115px;
	background: #3B7A92;
	font-size: 1.5em;
	position: absolute;
	font-size: 2.5em;
	font-variant: small-caps;
	 letter-spacing: 5px;
	 padding: 2px 5px 18px 10px;
	 font-weight: bold;
	 color: #fff;
	 text-shadow: 3px 3px 5px #333;
	 position: absolute;
	 bottom: 10px;
	 right: 10px;
	 opacity: 0.5;
}

#l span
{
	position: absolute;
}

#l div
{
	background: #95D5ED;
	position: absolute;
	width: 52px;
	height: 100%;
	right: 0px;
	top: 0px;
	z-index: 0;
}
